**/node_modules
**/*dist
**/*__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*venv
**/*.tox
**/*.coverage
**/*.coverage.*
**/*.cache
**/*.log
**/*.git
**/*.pytest_cache
**/build
**/*.egg-info
**/*.mypy_cache
venv
